/* 4.1 select H2 by its class */
.important {
	color: red;
}

/* 4.2 select all relevant paragraphs */
/*.relevant {
	color: red;
}*/

/* 4.3 select first paragraph of the relevant paragraphs */
/*div p:first-child {
	color: red;
}*/

/* 4.4 select third paragraph of the relevant paragraphs */
/*div p:nth-child(3) {
	color: red;
}*/

/* 4.5 select seventh paragraph of the relevant paragraphs */
/*div p:last-child {
	color: red;
}*/

/* 4.6 select all paragraph of the page */
/*p {
	color: red;
}*/

/* 4.7 select the relevant paragraph with the "a" class */
.relevant .a {
	color: red;
}